.tooltip {
  position: absolute;
  width: 135px;
  height: 102px;
  padding: 2px;
  padding-top: 4px;
  font: 12px sans-serif;
  color: white;
  text-align: center;
  background: steelblue;
  border: 0;
  border-radius: 10px;
}
.axisText {
  font-family: sans-serif;
  font-weight: bold;
  fill: steelblue;
  text-anchor: middle;
}

.axis-text {
    font-family: sans-serif;
    font-weight: bold;
    fill: steelblue;
    text-anchor: middle;
  }

  .active {
    font-weight: bold;
    fill: #000;
    fill: black;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  .inactive {
    font-weight: lighter;
    fill: steelblue;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  .inactive:hover {
    fill: #e75480;
    cursor: pointer;
  }

  .d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
  }

  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }

  /* Style northward tooltips specifically */
  .d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
  }